.vscode/**
.vscode-test/**
.gitignore
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**

server/node_modules/**
!server/node_modules/bl/**
!server/node_modules/buffer-alloc/**
!server/node_modules/buffer-alloc-unsafe/**
!server/node_modules/buffer-fill/**
!server/node_modules/chownr/**
!server/node_modules/code-point-at/**
!server/node_modules/console-control-strings/**
!server/node_modules/core-util-is/**
!server/node_modules/decompress-response/**
!server/node_modules/deep-extend/**
!server/node_modules/delegates/**
!server/node_modules/detect-libc/**
!server/node_modules/end-of-stream/**
!server/node_modules/expand-template/**
!server/node_modules/fs-constants/**
!server/node_modules/gauge/**
!server/node_modules/github-from-package/**
!server/node_modules/inherits/**
!server/node_modules/ini/**
!server/node_modules/is-fullwidth-code-point/**
!server/node_modules/mimic-response/**
!server/node_modules/minimist/**
!server/node_modules/mkdirp/**
!server/node_modules/nan/**
!server/node_modules/napi-build-utils/**
!server/node_modules/node-abi/**
!server/node_modules/noop-logger/**
!server/node_modules/npmlog/**
!server/node_modules/number-is-nan/**
!server/node_modules/object-assign/**
!server/node_modules/once/**
!server/node_modules/os-homedir/**
!server/node_modules/prebuild-install/**
!server/node_modules/process-nextick-args/**
!server/node_modules/pump/**
!server/node_modules/rc/**
!server/node_modules/readable-stream/**
!server/node_modules/safe-buffer/**
!server/node_modules/semver/**
!server/node_modules/set-blocking/**
!server/node_modules/signal-exit/**
!server/node_modules/simple-concat"/**
!server/node_modules/simple-get/**
!server/node_modules/string-width/**
!server/node_modules/string_decoder/**
!server/node_modules/strip-ansi/**
!server/node_modules/strip-json-comments/**
!server/node_modules/tar-fs/**
!server/node_modules/tar-stream/**
!server/node_modules/to-buffer/**
!server/node_modules/tree-sitter/**
!server/node_modules/tunnel-agent/**
!server/node_modules/util-deprecate/**
!server/node_modules/vscode-jsonrpc/**
!server/node_modules/vscode-languageserver/**
!server/node_modules/vscode-languageserver-protocol/**
!server/node_modules/vscode-languageserver-types/**
!server/node_modules/vscode-uri/**
!server/node_modules/which-pm-runs/**
!server/node_modules/wide-align/**
!server/node_modules/wrappy/**
!server/node_modules/xtend/**

server/tree-sitter-hercscript/node_modules/**

tools/**
herc/**
test/**
vsc-extension-quickstart.md
